<% layout("/layouts/boilerplate") -%>
<body>
    <h1>Create a New Listing</h1>
    <form>
        <input type="text" name="title" placeholder="enter title">
        <br><br>
        <textarea name="description" id="" placeholder="enter description"></textarea>
        <br><br>
        <input type="text" name="image" placeholder="enter image URL/Link">
        <br><br>
        <input type="Number" name="price" placeholder="enter Price">
        <br><br>
        <input type="text" name="country" placeholder="enter Country Name"><br><br>
        <input type="text" name="location" placeholder="enter location">
        <br><br>
       <button>add</button>
    </form>
</body>
